/0x00-Python-Introducción.py
/0x00-Python-Introducción.txt
/anidar_condicionales.py
/aritmetica.py
/ejercicio_condicionales1.py
/ejercicio_instagram.py
/ejercicio_instagram2.py
/regalo_amiga.py
/repeticion.py
/repeticion2.py
/taller1.py
/validaciones.ipynb